.cart-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    // border-radius: 15px;
    overflow: hidden;
    margin: 0 auto 10px;
    width: 75%;
    text-align: center;
    padding: 0 0 0 10px;

    i {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 1.75rem;
        color: red;
        cursor: pointer;
    }

    .cart-item__price {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 600;
        width: 100px;
    }

    .cart-item__name {
        font-size: 2rem;
        width: 250px;
    }

    img.cart-item__image {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1150px) {
    .cart-item {
        i {
            font-size: 1.25rem;
        }

        .cart-item__price {
            margin-left: 0px;
            font-size: 1.5rem;
            width: 100px;
        }

        .cart-item__name {
            font-size: 1.5rem;
            width: 250px;
        }

        img.cart-item__image {
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 900px) {
    .cart-item {
        i {
            top: 5px;
            left: 10px;
            font-size: 1rem;
        }

        .cart-item__price {
            margin-left: 10px;
            font-size: 1.25rem;
            width: auto;
        }

        .cart-item__name {
            font-size: 1.25rem;
            font-weight: 600;
            width: 150px;
        }

        img.cart-item__image {
            width: 75px;
            height: 75px;
        }
    }
}

@media (max-width: 600px) {
    .cart-item {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .cart-item {
        .cart-item__name {
            font-size: 1rem;
        }

        .cart-item__price {
            font-size: 1rem;
        }
    }
}



// 900